@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: '#ffffff';
  --color-neutral-300: '#ffffff';
  --color-neutral-400: '#A8A8A8';
  --color-neutral-700: '#333333';
  --color-slate-100: '#F8F8FF';
  --color-yellow-100: '#F5F5DC';
  --color-red-900: '#800020';
}

body {
  color: var(--color-neutral-700);
  background-color: var(--color-white)
}
