@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: #ffffff;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a8a8a8;
    --color-neutral-700: #333333;
    --color-slate-100: #f8f8ff;
    --color-yellow-100: #f5f5dc;
    --color-red-900: #800020;
  }
}

body {
  color: var(--color-neutral-700);
  background-color: var(--color-white);
}
